name: CD

on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to PyPI
    runs-on: ubuntu-latest

    environment: release

    permissions:
      id-token: write

    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build package
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
          

      - name: Build package
        run: |
          python -m pip install build
          python -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1